/Source/.vs
Source/RealSolarSystem.csproj.user
AdvancedPQSTools.zip
GameData/AdvancedPQSTools/Plugins/0Harmony.dll
/.vs/AdvancedPQSTools/v17
/Source/.vs/RealSolarSystem/v17/.suo
/Source/.vs/RealSolarSystem/v17/DocumentLayout.backup.json
/Source/.vs/RealSolarSystem/v17/DocumentLayout.json
/Source/.vs/RealSolarSystem.csproj.dtbcache.json
/Source/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Source/obj/Debug/RealSolarSystem.csproj.AssemblyReference.cache
*.dll
*.cache
/Source/obj/Release/RealSolarSystem.csproj.AssemblyReference.cache
*.txt
/Source/.vs/RealSolarSystem/v17/.suo
/Source/.vs/RealSolarSystem/v17/DocumentLayout.backup.json
